
<shared-menu></shared-menu>

<router-outlet></router-outlet>

<!-- <div class="text-layout">

  <h1>{{ nombre | titlecase }}</h1>
  <h1>{{ valor | number }}</h1>
  <h1>{{ obj | json }}</h1>

</div>


<button pButton
  (click)="mostrarNombre()"
  label="Cambiar Nombre"
  icon="pi pi-bell"
  class="p-button-help"
  iconPos="right">
</button>

<div class="row">
  <div class="col-6">

    <p-card [header]="nombre | titlecase"
      subheader="Esto es un subheader">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quia laudantium cum excepturi at, consequatur ab soluta nostrum quidem, id fugiat officia alias blanditiis minima modi animi rerum nobis rem.
    </p-card>

  </div>
</div> -->
